body
{
	padding: 0;
	margin: 0;
	font-family: Arial;
	background: #E8E8EA;
	background-image:-moz-linear-gradient(top, #959595 35%, #EDEDF1 65%,#8D8D8E 100%);
background-image:linear-gradient(top, #959595 35%, #EDEDF1 65%,#8D8D8E 100%);
background-image:-webkit-linear-gradient(top, #959595 35%, #EDEDF1 65%,#8D8D8E 100%);
background-image:-o-linear-gradient(top, #959595 35%, #EDEDF1 65%,#8D8D8E 100%);
background-image:-ms-linear-gradient(top, #959595 35%, #EDEDF1 65%,#8D8D8E 100%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(35%,#959595), color-stop(65%,#EDEDF1),color-stop(100%,#8D8D8E));
}

.header
{
	width: 100%;
	height: 100px;
	z-index: 880;
	position: absolute;
	background: #B80102;
}

.message
{
	width: 40%;
	margin: auto;
	margin-top: 12%;
}

.text_center
{
	text-align: center;
}

.text_red
{
	color: red;
}

.text_green
{
	color: green;
}

.background_container
{
	width: 100%;
	height: 1083px;
	vertical-align: middle;
}

.background
{
	width: 100%;
	height: 100%;
	position: absolute;
}

.logo_left
{
	position: absolute;
	transform: rotate(-25deg);
	top: 800px;
}

.logo_right
{
	position: absolute;
	transform: rotate(25deg);
	top: 800px;
}

.button
{
	text-transform: uppercase;
	width: 150px;
	height: 30px;
	border-radius: 5px;
}

.button_red
{
	color: white;
	background: #B80102;
}

.button_grey
{
	color: black;
	background: #9CA5B8;
	box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.75);
}

.align_bottom
{
	vertical-align: bottom;
}

.align_middle
{
	vertical-align: middle;
}

.button_left
{
	float: left;
}

.button_right
{
	float: right;
}

.logo_header
{
	position: absolute;
	top: 10px;
	z-index: 881;
}

.printer_wrapper
{
	width: 538px;
	margin: 0 auto;
}

.printer
{
	position: absolute;
	top: 30px;
	margin: 0 auto;
	z-index: 999;
}

.page_container
{
	width: 960px;
	height: 1390px;
	margin: 0 auto;
}

.page
{
	background: #FFFFFF;
	width: 960px;
	height: 1330px;
	z-index: 888;
	position: absolute;
	top: 55px;
	box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.35);
}

.page_container_register
{
	width: 960px;
	height: 550px;
	margin: 0 auto;
}

.page_register
{
	background: #FFFFFF;
	width: 960px;
	height: 500px;
	z-index: 888;
	position: absolute;
	top: 55px;
	box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.35);
}

.form
{
	margin: auto;
	width: 33%;
	margin-top: 10%;
}

.input
{
	width: 300px;
}

.page_minus_3_deg
{
	z-index: 777;
	transform: rotate(-3deg);
}

.page_plus_17_deg
{
	z-index: 777;
	width: 1050px;
	height: 450px;
	transform: rotate(17deg);
}

.page_plus_17_deg_plus_top_100
{
	z-index: 776;
	width: 1050px;
	height: 450px;
	top: 0px;
	transform: rotate(17deg);
}

.page_plus_17_deg_plus_top_1000
{
	z-index: 777;
	top: 750px;
	width: 680px;
	height: 530px;
	transform: rotate(17deg);
}

.page_minus_20_deg
{
	z-index: 777;
	height: 900px;
	width: 800px;
	transform: rotate(-20deg);
}

.head_text
{
	text-transform: uppercase;
	color: #5E5E5E;
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
	margin-top: 30px;
}

.simple_text
{
	color: #232323;
	margin-top: 30px;
}

.paragraph
{
	text-indent: 40pt;
	margin-left: 20px;
}

.center_text
{
	text-align: center;
}


a:link
{
    color: #C43234;
}

a:visited
{
    color: #C43234;
}

a:hover
{
    color: #F73234;
}

a:active
{
    color: #F73234;
}

.footer
{
	padding-bottom: 20px;
}

.table
{
	display: table;
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

.table_row
{
	display: table-row;
}

.table_cell
{
	display: table-cell;
}

.table_img
{
	margin: 0 auto;
	display: block;
	padding-bottom: 20px;
}

.reflect_img
{
	transform: scale(1, -1);
}

.top_img
{
	vertical-align: top;
}

.numerate
{
	font-weight: bold;
	font-size: 15pt;
	color: #BC010A;
	padding-bottom: 10px;
}

.top_table
{
	height: 430px;
}